<div class="newsletter-wrapper">
  <div class="newsletter-section">
    <div class="newsletter-left">
      <p class="newsletter-label">актуально</p>
      <h2 class="newsletter-title">Получайте полезные рассылки о путешествиях</h2>
    </div>
    <div class="newsletter-right">
      <label class="newsletter-input-label" for="newsletter-email">Введите e-mail адрес</label>
      <div class="newsletter-form">
        <input id="newsletter-email" type="email" class="newsletter-input" placeholder="name@domain.com" />
        <button id="newsletter-subscribe-btn" type="button" class="newsletter-btn">Подписаться на новости</button>
      </div>
      <p class="newsletter-disclaimer">подписываясь на новости, вы автоматически соглашаетесь с <span class="newsletter-underline">условиями обработки персональных данных</span> и <span class="newsletter-underline">правилами рекламных рассылок</span></p>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="footer-content">
    <div class="footer-col footer-col-about">
      <h3 class="footer-col-title">Компания «РумТибет»</h3>
      <p class="footer-col-text">Его корни уходят в один фрагмент классической латыни 45 года<br>н.э., то есть более двух тысячелетий назад. Ричард МакКлинток,<br>профессор латыни из колледжа Hampden-Sydney.</p>
      <div class="footer-contacts">
        <a id="footer-email-link" href="mailto:info@domain.com" class="footer-contact-link">info@domain.com</a>
        <a id="footer-phone-link" href="tel:+71234567890" class="footer-contact-link">+7 (123) 456-78-90</a>
      </div>
      <div class="footer-social">
        <a id="footer-social-telegram" href="#" class="footer-social-link" aria-label="Telegram"><img src="/images/icons/telegram-icon.svg" alt="Telegram" class="footer-social-icon" /></a>
        <a id="footer-social-vk" href="#" class="footer-social-link" aria-label="VK"><img src="/images/icons/vk-icon.svg" alt="VK" class="footer-social-icon" /></a>
        <a id="footer-social-pinterest" href="#" class="footer-social-link" aria-label="Pinterest"><img src="/images/icons/pinterest-icon.svg" alt="Pinterest" class="footer-social-icon" /></a>
        <a id="footer-social-skype" href="#" class="footer-social-link" aria-label="Skype"><img src="/images/icons/skype-icon.svg" alt="Skype" class="footer-social-icon" /></a>
      </div>
    </div>
    <div class="footer-col footer-col-services">
      <h3 class="footer-col-title">Наши услуги</h3>
      <ul class="footer-list">
        <li class="footer-list-item">Прогулки в горы летом</li>
        <li class="footer-list-item">Зимние походы в горы</li>
        <li class="footer-list-item">Посещение храмов в горах</li>
        <li class="footer-list-item">Экстремальные виды туризма</li>
        <li class="footer-list-item">Походы в джунглях Амазонии</li>
        <li class="footer-list-item">Поездка в Африку</li>
      </ul>
    </div>
    <div class="footer-col footer-col-important">
      <h3 class="footer-col-title">Важно для путешествий</h3>
      <ul class="footer-list">
        <li class="footer-list-item">Как собрать в долгий поход?</li>
        <li class="footer-list-item">Жизненно важные предметы для похода</li>
        <li class="footer-list-item">Медицинская страховка, гарантии безопасности</li>
        <li class="footer-list-item">Если вы врач - загляните сюда</li>
      </ul>
    </div>
  </div>
</footer>
<div class="footer-bottom">
  <div class="footer-bottom-inner">
    <span class="footer-copyright">ИП Константинопольский К.К., 2023</span>
    <a id="footer-privacy-link" href="#" class="footer-privacy">Политика обработки персональных данных</a>
  </div>
</div>
